.slicer-scroll {
  max-height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
}

.slicer-scroll::-webkit-scrollbar {
  background: rgba(59,127,142, 1);
  border-radius: 10px;
  width: 12px;
}

.slicer-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(19,87,102, 1);
  border-radius: 10px;
  border: 3px solid rgba(59,127,142, 1);
}