.reg-container {
	height: auto;
	padding-left: 20px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.reg-text-header {
	padding-left: 10px;
	vertical-align: middle;
}

.reg-button {
	width: 50%;
	margin-left: 25%;
	height: 50px;
}