
.input-valid,.input-invalid,.input-simple {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: right 0.5625rem center;
  background-size: 1.125rem 1.125rem;
  opacity: 1;
  height: calc(2.25rem + 2px);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



.input-valid {
  border: 1px solid #198754;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}

.input-valid:focus {
  border-color: #198754;
  box-shadow: 0 0 0 0.25rem rgb(25 135 84 / 25%);
}

.input-invalid {
  border: 1px solid #dc3545;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
}

.input-invalid:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.25rem rgb(220, 53, 69, 0.25);
}

.input-simple {
  border: 1px solid rgb(206,212,218);
}

.input-simple:focus {
  border-color: rgb(134,183,254);
  box-shadow: 0 0 0 0.25rem rgb(194,219,254);
}

.input-span {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
  transition: 0.5s;
}

.input-span:focus {
  color: rgba(0, 0, 0, 0.5);
  transform: translateY(-7px) translateX(10px);
}



.label-invalid {
  color: rgb(220,53,69);
  margin-left: 2px;
}